* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  background-color: rgb(239, 242, 243);
}
.main-photo {
  width: 55vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-photo img {
  width: 400px;
  height: 400px;
}

.login-form-wrapper {
  width: 45vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  background-color: #fff;
  width: 90%;
  height: 96%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 20px;
  margin-left: 22px;
  width: 100%;
  height: 16%;
}

.header h2 {
  color: #918ae6;
}

button {
  margin-bottom: 6px;
  height: 44px;
  margin-top: 8px;
  margin-left: 28px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px rgb(197, 196, 196);
}

button img {
  width: 22px;
  height: 22px;
}
button span {
  font-size: 12px;
  margin-left: 8px;
  opacity: 80%;
}
.or {
  margin-left: 240px;
  font-size: 12px;
  opacity: 200%;
  font-weight: 450;
}
.input1-wrapper,
.input2-wrapper {
  width: 455px;
  margin-left: 26px;
  margin-top: 4px;
  margin-bottom: 12px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  border-radius: 10px;
  padding: 20px 16px 8px 40px;
}

.input1-wrapper img,
.input2-wrapper img {
  position: absolute;
  left: 12px;
  top: 20px;

  width: 32px;
  height: 20px;
}

.input1-wrapper .label,
.input2-wrapper .label {
  position: absolute;
  top: 6px;
  left: 48px;
  font-size: 10px;
  color: gray;
  pointer-events: none;
}

.input1-wrapper input,
.input2-wrapper input {
  margin-left: 8px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 12px;
  font-weight: bold;
  margin-top: 12px;
}

.options {
  width: 90%;
  margin: 6px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
}

.remember input {
  margin-top: 1px;
  appearance: none;
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 4px;
  background-color: #d8d7d7;
}

.forgot {
  color: #6c63ff;
  font-weight: 500;
  font-size: 13px;
}

.login-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  width: 90%;
  height: 48px;
  background-color: #6c63ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-right: 20npmpx;
  margin-bottom: 16px;
}

.register-text {
  font-size: 14px;
  color: #333;
}

.register-text a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 500;
}
